html, body
{
	padding: 0;
	margin: 0;
}
body {
	background-color: #eee;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}

#toolbar {
  background: #BC3800;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  height: 44px;
}

#toolbar h1 {
  color: #fff;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 44px;
  left: 44px;
  width: auto;
  height: 40px;
}
  
#toggle-left {
  background: url(open.png) center center no-repeat;
  display: block;
  width: 44px;
  height: 44px;
}

#toggle-right {
  background: url(open.png) center center no-repeat;
  display: block;
  width: 44px;
  height: 44px;
}


#app{
	height:44px;
}

#home-product{
	height:180px;
}

#desc-product{
	padding:10px;
}

#desc-product h3{
	color:white;
	padding-bottom:10px;
}

#desc-product ul{
	color:white;
	list-style-type:circle;
}

#tabs-product{
	height:40px;
	text-align:center;
}

#info-product{
	padding:10px;
}

#info-spesification{
	padding:10px;
}

#product-price{
	font-size:80%;
	text-align:center;
}

#product-name{
	font-size:80%;
	text-align:center;
}

#footer{
	text-align:center;
}

button:focus {
    outline: none;
}
.row.full-width { 
	width: 100%; max-width: 100%; 
}

.column, .columns {
position: relative;
padding-left: 0;
padding-right: 0;
float: left;
}



.section-container.tabs .content {
  display:block:important!
  opacity: 0; 
}
.section-container.tabs .active .content{
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  opacity: 1;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
