<div class="page">
    <div class="rad-header">Mystore.com</div>
		<div class="rad-content">
		<div class="scroll-view ">
				<div class="row full-width">
					<div class="small-6 large-6 columns tab_nav_login_register" data-target="view.register">
						REGISTER
					</div> 
					<div class="small-6 large-6 columns tab_nav_login_register" data-target="view.login">
						LOGIN
					</div> 
					<div class="small-12 large-12 columns register_login_content" id="login_register_content" style="height: 500px; ">
						
					</div> 
				</div>
		</div>
		</div>
</div>