<div class="row">
	<div class="small-12">
		<div class="row">
			<div class="small-12 columns">
			<input type="text" name="firstname" id="right-label" placeholder="NAMA DEPAN">
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
			<input type="text" name="lastname" id="right-label" placeholder="NAMA BELAKANG">
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
			<input type="text" name="email" id="right-label" placeholder="ALAMAT EMAIL">
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
			<input type="password" name="passwd" id="right-label" placeholder="KATA KUNCI">
			</div>
		</div>
	</div>
</div>
<button class="button register">Register</button>

