<div class="menu-right">
	<div class="scroll-right">
		<ul class="menu rad-list">
		
			{{# if(model.length > 0) { }}	
				{{# if(model[0].isLogin == 1) { }}
					<li data-view="view.login_register">DAFTAR / MASUK</li>
				{{# }else{ }}
					<li data-view="view.login_register">MY ACCOUNT</li>
				{{# } }}
			{{# } }}

				<li data-view="view.promo">PROMO</li>
				<li data-view="view.keranjang_konfirmasi">KERANJANG</li>
				<li>SOSIAL MEDIA
					<ul>
						<li>fb</li>
						<li>twitter</li>
						<li>g+</li>
						<li>blogspot</li>
					</ul>
				</li>
				<li data-view="view.contactus">HUBUNGI KAMI</li>
				<li>&nbsp;</li>
		</ul>
	</div>
</div>