<div class="page">
    <div class="th-top rad-header">MySytore.com</div>
    <div class="th-content">
		<div class="scroll-product" id="wrapper">
				<div class="row full-width">
				<div class="row full-width">
					<div class="small-12 large-12 columns" style="background:#FFC48C;" >
						<ul class="example-orbit" data-orbit style="height: 100px;align:center; ">
							{{# _(model.image).each(function (images) { }}
								<li>
									<img src="{{ images.images }}" alt="{{ model.name }}" />
								</li>
							{{# }); }}					
						</ul>
					</div>
				</div>
				<div class="row full-width">
					<div class="small-12 large-12 columns" style="background:#FFC48C;" >
						<ul class="pricing-table" style="background:#FFC48C;">
							<li class="title" style="background:#FFC48C;">{{ model.name }}</li>
							<li class="price" style="background:#FFC48C;">Rp. {{ model.price }}</li>
							<li class="bullet-item" style="background:#FFC48C;">{{ model.short_description }}</li>
							<li class="cta-button" style="background:#FFC48C;">
								<a class="button" href="#" >Buy Now</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row full-width">
					<div class="small-6 large-6 columns" style="background:#D1F2A5;" >
						<div class="tab-name" > Info Lainnya </div>
					</div>
					<div class="small-6 large-6 columns" style="background:#77C1F8;" >
						<div class="tab-name" > Spesifikasi </div>
					</div>
				</div>
				<div class="row full-width">
					<div class="small-12 large-12 columns" style="background:#D1F2A5;" >
						<div class="info" > 
							{{ model.description }}
						</div>
					</div>
				</div>
				</div>
		</div>
    </div>
    <div class="th-bottom">
        <div class="rad-footer rad-tab-bar" style="height: 100%">
			
            <div class="button-go-to active" data-target="{{ model.view }}" data-animation="slide" data-index="1">
                <span class="rad-ico rad-ico-prev"></span><span>Back</span>
            </div>
			
			<div class="button-go-to active" data-target="view.cart" data-product="{id:0,name:'',price:0}" data-index="1">
                <span class="rad-ico rad-ico-prev"></span><span>Buy</span>
            </div>
        </div>
    </div>
</div>