<div class="page">
    <div class="rad-header">Mystore.com</div>
		<div class="rad-content">
		<div class="scroll-view ">
				<div class="row full-width">
					<div class="small-6 large-6 columns tab_nav_keranjang_konfirmasi" data-target="view.register">
						KERANJANG
					</div> 
					<div class="small-6 large-6 columns tab_nav_keranjang_konfirmasi" data-target="view.login">
						KONFIRMASI
					</div> 
					<div class="small-12 large-12 columns keranjang_konfirmasi_content" id="keranjang_konfirmasi_content" style="height: 500px; ">
						
					</div> 
				</div>
		</div>
		</div>
</div>