
				<div class="row">
					<div class="small-12">
						<div class="row">
							<div class="small-12 columns">
							<input type="text" name="name" id="right-label" placeholder="NAMA LENGKAP">
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
							<input type="text" name="email" id="right-label" placeholder="ALAMAT EMAIL">
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
							<input type="text" name="password" id="right-label" placeholder="KATA KUNCI">
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<textarea name="address" placeholder="ALAMAT LENGKAP"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<input type="text" name="mobileno" id="right-label" placeholder="KOTA / KABUPATEN">
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
								<input type="text" name="state" id="right-label" placeholder="PROPINSI">
							</div>
						</div>
						<div class="row">
							<div class="small-12 columns">
							<input type="text" name="propinsi" id="right-label" placeholder="NOMOR KONTAK">
							</div>
						</div>
					</div>
				</div>
				<button class="button register">Register</button>

